@import url("https://fonts.googleapis.com/css2?family=Charm&family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

h2,
h1 {
  font-family: "Charm", cursive;
}
.cardImage {
  backface-visibility: hidden;
  transition: ease 0.5s;
}
.cardImage:hover {
  transform: scale(1.03);
}

.hero {
  background: url(/image/hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 80;
}
.cartModel {
  animation: slideIn 700ms ease-out forwards;
}
.cartModuleOut {
  animation: slideOut 5s ease-out forwards;
}

// aminations
@keyframes slideIn {
  0% {
    transform: translateY(-200rem);
    width: 0;
  }
  80% {
    width: 63%;
  }
  100% {
    width: 60%;
  }
}
@keyframes slideOut {
  0% {
    width: 60%;
  }

  7% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-100rem);
  }
}
