@import url("https://fonts.googleapis.com/css2?family=Charm&family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

h2,
h1 {
  font-family: "Charm", cursive;
}
.cardImage {
  backface-visibility: hidden;
  transition: ease 0.5s;
}
.cardImage:hover {
  transform: scale(1.03);
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}
.hero-btn {
  width: 250px !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-family: "Charm", cursive;
  background-color: rgba(10, 10, 10, 0.568) !important;
  color: aliceblue !important;
  transition: ease 500ms !important;
  height: 3rem !important;
}
.hero-btn:hover {
  background-color: #000000 !important;
}

.cakes {
  background: url(/image/cake-5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
}
.flowers {
  background: url(/image/flower-7.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 80;
}

.cartBox {
  transform: translateX(200rem);
  transition: 300ms ease;
}

.cartModel {
  animation: slideIn 200ms ease-out forwards;
}

// aminations
@keyframes slideIn {
  0% {
    // width: 0;
    transform: translateX(200rem);
  }
  80% {
    width: 63%;
  }
  100% {
    width: 60%;
  }
}

@media only screen and (max-device-width: 812px) {
  // aminations
  @keyframes slideIn {
    0% {
      transform: translateX(200rem);
      width: 0;
    }
    80% {
      width: 63%;
    }
    100% {
      width: 80%;
    }
  }
}
